@page "/view-user-stats/{id:int}"
@using TheBazzarTest.Entity
@using TheBazzarTest.Services
@inject NavigationManager NavigationManager
@inject IGameService GameService


<h3 class="text-2xl font-bold text-amber-500 mb-4">User Stats Dashboard</h3>

@if (game == null)
{
    <div class="flex justify-center items-center">
        <span class="text-gray-500">Loading...</span>
    </div>
}
else
{
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div class="grid gap-4">
            
                <div class="hover:bg-gray-700 max-w-sm bg-gray-900 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <img class="rounded-t-lg" src="/images/home_founder_tier1.webp" alt=""/>
                   
                    <div class="p-5">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-amber-500 dark:text-amber-500">Username</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-amber-100 text-xl">@game.Username</p>
                    </div>
                </div>
                
                <div>
                    <a class="flex flex-col items-center bg-gray-900 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/images/hero_julesPedestal.webp" alt="">
                        <div class="flex flex-col justify-between p-4 leading-normal">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-amber-500">Friends Count</h5>
                            <p class="mb-3 font-normal text-gray-700 dark:text-amber-100 text-lg">@game.FriendsCount</p>
                        </div>
                    </a>
                </div>
                
            <div>
                <a class="flex flex-col items-center bg-gray-900 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/images/hero_julesPedestal.webp" alt="">
                    <div class="flex flex-col justify-between p-4 leading-normal">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-amber-500">Current Level</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-amber-100 text-xl">@game.CurrentLevel</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <a class="flex flex-col items-center bg-gray-900 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/images/hero_julesPedestal.webp" alt="">
                    <div class="flex flex-col justify-between p-4 leading-normal">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-amber-500">Experience Points</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-amber-100 text-xl">@game.ExperiencePoints</p>
                    </div>
                </a>
            </div>
          
                <div class="hover:bg-gray-700 max-w-sm bg-gray-900 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <img class="rounded-t-lg" src="/images/home_founder_tier1.webp" alt=""/>
                    <div class="p-5">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-amber-500">Email</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-amber-100 text-xl">@game.Email</p>
                    </div>
                </div>
            
            <div>
                <a class="flex flex-col items-center bg-gray-900 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/images/hero_julesPedestal.webp" alt="">
                    <div class="flex flex-col justify-between p-4 leading-normal">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-amber-500">Total Games Played</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-amber-100 text-xl">@game.TotalGamesPlayed</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid gap-4">
                <div class="hover:bg-gray-700 max-w-sm bg-gray-900 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <img class="rounded-t-lg" src="/images/home_founder_tier1.webp" alt=""/>
                    <div class="p-5">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-amber-500">Total Wins</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-amber-100 text-xl">@game.TotalWins</p>
                    </div>
                </div>
            <div>
                <a class="flex flex-col items-center bg-gray-900 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/images/hero_julesPedestal.webp" alt="">
                    <div class="flex flex-col justify-between p-4 leading-normal">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-amber-500">Total Loses</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-amber-100 text-xl">@game.TotalLosses</p>
                    </div>
                </a>
            </div>
            <div>
                <a class="flex flex-col items-center bg-gray-900 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/images/hero_julesPedestal.webp" alt="">
                    <div class="flex flex-col justify-between p-4 leading-normal">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-amber-500">Win/Loss Ratio</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-amber-100 text-xl">@(Math.Floor(game.WinLossRatio * 100))%</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <a class="flex flex-col items-center bg-gray-900 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/images/hero_julesPedestal.webp" alt="">
                    <div class="flex flex-col justify-between p-4 leading-normal">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-amber-500">Messages Received</h5>
                        <p class="mb-3 font-normal text-xl text-gray-700 dark:text-amber-100 text-xl">@game.MessagesReceived</p>
                    </div>
                </a>
            </div>
            
                <div class="hover:bg-gray-700 max-w-sm bg-gray-900 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <img class="rounded-t-lg" src="/images/home_founder_tier1.webp" alt=""/>
                    <div class="p-5">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-amber-500">XP to next Level</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-amber-100 text-xl">@game.ExperiencePointsToNextLevel</p>
                    </div>
                </div>
            
            <div>
                <a class="flex flex-col items-center bg-gray-900 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/images/hero_julesPedestal.webp" alt="">
                    <div class="flex flex-col justify-between p-4 leading-normal">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-amber-500">Messages Sent</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-amber-100 text-xl">@game.MessagesSent</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
}

<button @onclick="GoBackToList" type="button" class="mt-4 px-3 py-2 text-s font-medium text-center inline-flex items-center text-gray-900 bg-amber-100 rounded-lg hover:bg-amber-500 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-amber-100 dark:hover:bg-amber-500 dark:focus:ring-blue-800 hover:text-amber-100">
    Go Back to List
    <svg class="ml-1 w-6 h-6 text-gray-800 dark:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"/>
    </svg>
</button>

@code {
    Game game;
    [Parameter] public int id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        game = await GameService.GetGameById(id);

        if (game == null)
        {
            NavigationManager.NavigateTo("/error");
        }
    }
    
    void GoBackToList()
    {
        NavigationManager.NavigateTo("/view-accounts");
    }
}